<section class="test-result">
    <div class="container">
        <div class="pass-question test-pre-title">
        <span>Результат прохождения теста
        <img src="./images/small-arrow2.png" alt="Стрелочка">
        </span>

            <span class="test-result_title"></span>
        </div>
        <h1 class="title"><span>Правильные ответы</span> к тесту</h1>
        <div class="credential">
            Тест выполнил <span id="fullName"></span><span id="email"></span>
        </div>
        <div class="questions">

        </div>
        <div class="pass-question back">
            <a href="javascript:void(0)" onclick="history.back(); return false">Обратно к моему результату теста <img
                    src="./images/small-arrow.png"
                    alt="Стрелочка"></a>
        </div>
    </div>

</section>
